ion-checkbox {
  --size: 25px;
  --background-checked: #6815ec;
  --border-radius:4px;
}

.menu{
  position:relative;
  width:100%;
  height:100%;
  margin-bottom:2%;
  overflow-x: hidden;
  overflow-y: auto;
}
.menu h1{
  margin-top:5%;
  font-family: 'Quicksand';
  font-size:50px;
}
ion-button{
  align-items:center;
  text-align: center;
  margin-top:5%;
  margin-left:35%;
  margin-right:40%;
  width:30%;
  height:35px;
  background-color:#250381;
  border-radius:25px;
  color:#ffffff;
}
label{
  font-size: 10px;
}
h1{
  text-align:center;
  margin-top:12%;
}
.header{
  background-color:#FFC000;
}
h3{
  text-align:center;
 height:50%;
}
ion-content  {
  --ion-background-color:#FFC000;
}
ion-select-option{
  width:50px;
  text-align:center;
  font-size:55px;
}
.menu ion-label{
  font-size:20px;
}
.select{
  font-size:25px;
}

::ng-deep .mycomponent-wider-popover
{
  font-size:5px;
  --width: 100%;
  --max-width: 440px;
  align-items:center;
  text-align:center;

}
.r1{
  background-color:aqua;
}

ion-label{
  font-size:20px;
}
.menu ion-img{
  width:4%;
}
@media screen and (max-width:1366px){
  ion-checkbox {
    --size: 32px;
    --background-checked: #6815ec;
  }
  .sc-ion-buttons-md-h {
    display: block !important;
  }
  .ion-page ion-header ion-toolbar ion-buttons ion-menu-button {
    font-size:40px !important;
  }
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #6815ec;
  }
  .menu{
    width:100%;
    height:100%;
    margin-bottom:2%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .menu h1{
    margin-top:5%;
    font-family: 'Quicksand';
    font-size:50px;
  }
  ion-button{
    align-items:center;
    text-align: center;
    margin-top:5%;
    margin-left:42%;
    margin-right:40%;
    width:15%;
    height:35px;
    background-color:#250381;
    border-radius:25px;
    color:#ffffff;
  }
  label{
    font-size: 10px;
  }
  h1{
    text-align:center;
    margin-top:12%;
  }
  .header{
    background-color:#FFC000;
  }
  h3{
    text-align:center;
   height:50%;
  }
  ion-content  {
    --ion-background-color:#FFC000;
  }
  ion-select-option{
    width:50px;
    text-align:center;
    font-size:55px;
  }
  .select{
    font-size:25px;
  }

  ::ng-deep .mycomponent-wider-popover
  {
    font-size:5px;
    --width: 100%;
    --max-width: 440px;
    align-items:center;
    text-align:center;

  }
  .r1{
    background-color:aqua;
  }

  ion-label{
    font-size:20px;
  }
}
@media screen and (max-width:1080px){
  .menu{
    width:90%;
    margin-left:5%;
    margin-top:10%;
    margin-bottom:5%;
  }
  .menu h1{
    font-family:'Quicksand';
    font-size:80px;
  }
  .menu .menucontent ion-label{
    margin-top:10%;

   font-size:30px;
  }
  .menu ion-button{
    height:60px;
    width:30%;
    margin-left:35%;
    margin-top:5%;
    font-size:50px;
    margin-bottom:5%;
  }
  .menu ion-img{
    margin-top:10%;
    width:5%;
    }
    .sc-ion-buttons-md-h {
      display: block !important;
    }
    .ion-page ion-header ion-toolbar ion-buttons ion-menu-button {
      font-size:70px !important;
    }
}
