
ion-content  {
  --ion-background-color:#ffffff;
}
ion-menu-button {
  font-size: 40px !important;
  color:#250381;
}
.sc-ion-buttons-md-h {
  display: block !important;
}
ion-checkbox {
  --size: 25px;
  --background-checked: #F8E4A5;
  border-radius: 6px;
  border: 1px solid #000000;
  margin-right:3%;
}
.menu .container1{
  overflow-x: hidden;
  overflow-y: auto;
  position:relative;
  font-family: 'Poppins', sans-serif;
  color:#ffffff;
}
.menu .container{
  font-family: 'Poppins', sans-serif;
  color:#ffffff;
}
ion-item {
  --ion-item-background:#F8E4A5;
  border-radius:20px;
}
ion-label{
  color:#250381;
}

.menu {
  font-family: 'Poppins', sans-serif;
  color: #250381;
}
.menu .container1 .container ion-label{
  font-family: 'Poppins', sans-serif;
  color: #000000;
}
ion-button{
  align-items:center;
  text-align: center;
  background-color:#250381;
  border-radius:25px;
  color:#ffffff;
}

@media screen and (max-width:1366px){
  .menu{
    margin-top:5%;
    height:90%;
  }
  .menu .container1{
    overflow-x: hidden;
    overflow-y: auto;
    height:80%;
  }
  .menu .container{
    font-family: 'Poppins', sans-serif;
    height:150%;
  }
  .menu h1{
    margin-left:23%;
    font-size:50px;
    font-weight:bold;
  }
  .menu .container1 .container ion-item{
    height:70px;
    margin-bottom:1%;
    margin-left:2%;
    margin-right:2%;
  }
  ion-img{
    width:2%;
  }
  ion-button{
    margin-top:1%;
    margin-bottom:2%;
    margin-left:42%;
    width:14%;
    height:38px;
    font-weight:bold;
  }
  ion-select{
    width:100px;
  }
}
@media screen and (max-width:1080px){
  .menu .container{
    font-family: 'Poppins', sans-serif;
    height:120%;
  }
  .menu .container1 .container ion-item{
    font-size:35px;
    height:280px;
  }
  ion-img{
    width:10%;
  }
  ion-menu-button {
    font-size: 70px !important;
    color:#250381;
  }
  .menu{
    margin-top:5%;
    height:95%;
  }
  .menu h1{
    text-align:center;
    margin-left:1px;
    margin-top:5%;
    font-size:90px;
    font-weight:bold;
    font-style: italic;
  }
  ion-checkbox {
    margin-top:120px;
    margin-bottom:150px;
    margin-right:5%;
    margin-left:7%;
    --size: 45px;
    --background-checked: #250381;
  }
  ion-button{
    margin-top:3%;
    margin-left:33%;
    width:35%;
    height:70px;
    font-weight:bold;
    font-size:30px;
  }
  ion-select{
    margin-top:100px;
    width:200px;
  }
}
