<ion-content>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <ion-list-header color="#FFC000"><ion-button (click)="next()">NEXT</ion-button></ion-list-header>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>1. Are you satisfied with your job?</ion-label>
    <ion-card-content>
      <canvas #barChart1></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>2. Do you ever worry about finances?</ion-label>
    <ion-card-content>
      <canvas #barChart2 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>3. Do you ever feel overworked or underworked here as an employee?</ion-label>
    <ion-card-content>
      <canvas #barChart3 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>4. Do you experience stressful situations at work?</ion-label>
    <ion-card-content>
      <canvas #barChart4 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>5. Do you feel confident at work?</ion-label>
    <ion-card-content>
      <canvas #barChart5 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>6. Do you get the social, mental, and emotional support of your supervisor and coworkers when you need it?</ion-label>
    <ion-card-content>
      <canvas #barChart6 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>7. Do you get the social and emotional support you need from friends, family, or others outside of work?</ion-label>
    <ion-card-content>
      <canvas #barChart7 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>8. Do you feel like we do enough to support your mental health at work as an employee?</ion-label>
    <ion-card-content>
      <canvas #barChart8 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>9. Have you ever felt unhappy with how you managed your emotions or reacted to a situation at work?</ion-label>
    <ion-card-content>
      <canvas #barChart9 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>10. Are you committed to your organization (e.g., high job satisfaction; a motivated employee who does not intend to leave)?</ion-label>
    <ion-card-content>
      <canvas #barChart10 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
</ion-content>
