
<ion-content>
<ion-app>
  <div class="head">
    <ion-menu disabled="" contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu Content</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="sidemenu">
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header class="basehead">
        <ion-toolbar >
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title  class=" header"></ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
    </div>
    <div class="menu">
      <div class="menucontent">
      <ion-label class="label1">About Us</ion-label>
      <p>emotINC.on IS AN SOFTWARE DEVELOPMENT COMPANY THAT FOCUSES ON PSYCHOLOGICAL AND EMOTIONAL TRACKING APPLICATIONS WITH THE INTENTION OF CORPORATE TRACKING OF EMPLOYEES' PERFORMANCE, AND OTHER BENEFICIAL APP USES SUCH AS MONITORING OF EMOTIONS, ACTIVITIES AND DAILY STATUSES FOR REGULATION, FULFILLMENT, AND PROGRESSION PURPOSES.</p>
      <ion-label class="label2">FOUNDING MEMBERS</ion-label>
      <div class="profile">
        <ion-img id="img1" src="assets/Profile/Hannah.jpg"></ion-img>
        <ion-img id="img2" src="assets/Profile/Ron.jpg"></ion-img>
        <ion-img id="img3" src="assets/Profile/Gio.jpg"></ion-img>
        <ion-img id="img4" src="assets/Profile/daniela.png"></ion-img>
        <ion-img id="img5" src="assets/Profile/Yanrei.jpg"></ion-img>
        <ion-img id="img6" src="assets/Profile/dianne.jpg"></ion-img>
      </div>
      <div class="label">
        <ion-button color="#250381" class="l1" (click)="gotohannah()">HANNAH</ion-button>
        <ion-button color="#250381" class="l2" (click)="gotoron()">RON</ion-button>
        <ion-button color="#250381" class="l3" (click)="gotogio()">GIOREVH</ion-button>
        <ion-button color="#250381" class="l4" (click)="gotodaniela()">DANIELA</ion-button>
        <ion-button color="#250381" class="l5" (click)="gotoyanrei()">BRYAN</ion-button>
        <ion-button color="#250381" class="l6" (click)="gotodianne()">DIANNE</ion-button>
      </div>
      <div class="roles">
        <ion-label class="r1">ProjectManager</ion-label>
        <ion-label class="r2">Programmer</ion-label>
        <ion-label class="r3">Designer</ion-label>
        <ion-label class="r4">Documentation</ion-label>
        <ion-label class="r5">Documentation</ion-label>
        <ion-label class="r6">Analyst</ion-label>
      </div>
    </div>
    <ion-button color="#250381" class="l7" (click)="gotomenu()">MAIN MENU</ion-button>
    </div>
</ion-app>
</ion-content>
