<ion-content>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <ion-list-header color="light">Vertical Bar Chart<ion-button (click)="next()">NEXT</ion-button></ion-list-header>
  <ion-card class="welcome-card">
    <div class="chartBox">
    <ion-card-content>
      <canvas #barChart1></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label></ion-label>
    <ion-card-content>
      <canvas #barChart2 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
    <ion-card-content>
      <canvas #barChart3 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
    <ion-card-content>
      <canvas #barChart4 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
    <ion-card-content>
      <canvas #barChart5 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
    <ion-card-content>
      <canvas #barChart6 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
    <ion-card-content>
      <canvas #barChart7 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
    <ion-card-content>
      <canvas #barChart8 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
    <ion-card-content>
      <canvas #barChart9 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
    <ion-card-content>
      <canvas #barChart10 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
    <ion-card-content>
      <canvas #barChart11 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
</ion-content>
