<ion-content>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <ion-list-header color="#FFC000"><ion-button (click)="next()">NEXT</ion-button></ion-list-header>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>1. What is your marital status?  </ion-label>
    <ion-card-content>
      <canvas #barChart1></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>2. How many people currently live in your household, including yourself?  </ion-label>
    <ion-card-content>
      <canvas #barChart2 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>3. What is the primary language spoken at home?</ion-label>
    <ion-card-content>
      <canvas #barChart3 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>4. Please describe the home where you live : </ion-label>
    <ion-card-content>
      <canvas #barChart4 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>5. What is the highest level of education you have completed?  </ion-label>
    <ion-card-content>
      <canvas #barChart5 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>6. How do you pay for your health care and medical expenses?  </ion-label>
    <ion-card-content>
      <canvas #barChart6 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>7. Are you employed?</ion-label>
    <ion-card-content>
      <canvas #barChart7 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>8. If you answered No, who earns income to support your family? </ion-label>
    <ion-card-content>
      <canvas #barChart8 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>9. How many hours each day do(es) the above person(s) work?  </ion-label>
    <ion-card-content>
      <canvas #barChart9 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>10. What best corresponds to the above person(s) current work situation ?</ion-label>
    <ion-card-content>
      <canvas #barChart10 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>11. What is your total combined family income for the past 12 months, before taxes, from all sources, wages, public assistance/benefits, help from relatives, alimony, and so on?</ion-label>
    <ion-card-content>
      <canvas #barChart11 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
</ion-content>
