<ion-content>
  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu Content</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">This is the menu content.</ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header class="basehead">
        <ion-toolbar style="background-color:#FFDA29">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title></ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-app>
  <h1>Daily Question!</h1>
    <div class="menu">

      <ion-list style="width:90%;">
        <ion-item>
          <ion-label>Question 1</ion-label>
          <ion-checkbox item-right ></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Question 2</ion-label>
          <ion-checkbox item-right ></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Question 3</ion-label>
          <ion-checkbox item-right ></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Question 4</ion-label>
          <ion-checkbox item-right ></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Question 5</ion-label>
          <ion-checkbox item-right ></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Question 6</ion-label>
          <ion-checkbox item-right ></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Question 7</ion-label>
          <ion-checkbox item-right ></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Question 8</ion-label>
          <ion-checkbox item-right ></ion-checkbox>
        </ion-item>
      </ion-list>
      <ion-button color="#250381"(click)="next()">Next</ion-button>
    </div>


</ion-content>
