<ion-content>
<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header class="basehead">
      <ion-toolbar style="background-color:#FFDA29">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Calendar</ion-title>
      </ion-toolbar>
    </ion-header>

  </div>
  <div class="menu">
    <h2>Hi, User</h2>
    <br>
    <ion-item style="width:90%;color:#000000">

      <ion-label>Date</ion-label>
      <ion-text slot="end">{{formattedString}}</ion-text>
    </ion-item>
    <ion-datetime style="margin-top:5%;" [presentation]="selectedMode" #datetime *ngIf="showPicker" [value]="dateValue" (ionChange)="dateChanged(datetime.value)"></ion-datetime>
    <br>
    <ion-button color="#11013F" (click)="begin()">BEGIN MOOD TRACKING</ion-button>
    <br>
    <!-- <ion-button (click)="achieve()">Achievements</ion-button>-->

  </div>
</ion-app>
</ion-content>
