
<ion-content>
<ion-app>
  <div class="head">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="sidemenu">
      <ion-button (click)="menu()">MAIN MENU</ion-button>
      <ion-button (click)="achievements()">ACHIEVEMENTS</ion-button>
      <ion-button (click)="aboutus()">ABOUT US</ion-button>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header class="basehead">
      <ion-toolbar style="background-color:#FFDA29">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title  class=" header"></ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
  </div>

  <div class="menu">
    <div class="part1">
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-text slot="end">{{dateValue}}</ion-text>
      </ion-item>
    </div>
    <div class="column">
      <div class="item1">
        <ion-datetime class ="calendar"size="cover" [presentation]="selectedMode" #datetime *ngIf="showPicker" [value]="date" (ionChange)="setToday()"></ion-datetime><!--(ionChange)="dateChanged(datetime.value)-->
      </div>
    </div>
      <div class="item2">
        <div class="btnpos">
          <ion-button  class="btns" id="btn1"color="#FFDA29" id = "hold1"(touchstart)="onTouchStart1()"  (touchend)="onTouchEnd1()"(click)="socio()">SOCIO-ECONOMICAL <br>SURVEY</ion-button>
          <ion-button class="btns"  id="btn2"color="#FFDA29" id = "hold2"(touchstart)="onTouchStart2()"  (touchend)="onTouchEnd2()" (click)="begin()" >BEGIN MOOD <br> TRACKING</ion-button>
          <ion-button   class="btns"  id="btn3"color="#FFDA29" id = "hold3"(touchstart)="onTouchStart3()"  (touchend)="onTouchEnd3()"(click)="health()">HEALTH INDEX</ion-button>
        </div>
      </div>
  </div>
    <br>
    <!-- <ion-button (click)="achieve()">Achievements</ion-button>-->


</ion-app>
</ion-content>
