.menu{
  margin-top:5%;
  text-align: center;
  height:20%;
  width:100%;
  align-items:center;
}
.sidemenu ion-button{
  width:100%;
  height:50px;
  background-color:#FFC000;
}
.sc-ion-buttons-md-h {
  display: block !important;
}
ion-menu-button {
  font-size: 40px !important;
  color:#250381;
}
.menu .part1{
  text-align: center;
  align-items:center;
}
.header{
  background-color:#FFFFFF;
}
::ng-deep   .my-datetime {
  --ion-font-size: 30px;
  font-size: 40px !important;
  color:#000000;
}
.menu .column{
  text-align: center;
  align-items:center;
  width:100%;
  height:30%;
}
.menu .column .item1 ion-datetime{
  border-radius:25px;
  height:600px;
  width:80%;

}
ion-datetime{
  font-size:100px;
  margin-top:10%;
}
ion-content  {
  --ion-background-color:#FFFFFF;
}
.btns{
  border-radius:25px;
  background-color:#250381;
  color:#ffffff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
h2{
  color:#ffffff;
}
@media screen and (max-width:1920px){
  .menu{
    height:100%;
    margin-bottom:90%;
  }
  .menu .part1{
    height:2%;
    width:70%;
    margin-top:2%;
    margin-left:15%;
  }
  .menu .column .item1 ion-datetime{
    border-radius:25px;
    height:400px;
    width:50%;
    margin-left:25%;
  }
  ion-datetime{
    font-size:100px;
    margin-top:5%;
  }
  .menu ion-item{
    font-size:30px;
  }

  .item2 .btnpos{
    margin-top:15%;
    margin-left:8%;
    margin-bottom:10px;
  }
  ion-button{
    margin-right:5%;
    width:20%;
    height:70px;
    font-size:20px;
  }
}
@media screen and (max-width:1366px){
  .menu{
    height:100%;
    margin-bottom:90%;
  }
  .menu .part1{
    height:2%;
    width:70%;
    margin-top:2%;
    margin-left:15%;
  }
  .menu .column .item1 ion-datetime{
    border-radius:25px;
    height:400px;
    width:50%;
    margin-left:25%;
  }
  ion-datetime{
    font-size:100px;
    margin-top:5%;
  }
  .menu ion-item{
    font-size:30px;
  }

  .item2 .btnpos{
    margin-top:15%;
    margin-left:8%;
    margin-bottom:10px;
  }
  ion-button{
    margin-right:5%;
    width:20%;
    height:50px;
    font-size:12px;
  }
}

@media screen and (max-width:1080px){
  .menu{
    height:100%;
    margin-top:50%;
  }
  .menu .part1{
    height:2%;
    width:80%;

    margin-top:2%;
    margin-left:10%;
  }
  .menu .column .item1 ion-datetime{
    border-radius:25px;
    height:400px;
    width:70%;
    margin-left:15%;

  }
  ion-datetime{
    font-size:300px;
    margin-top:10%;
  }
  .menu ion-item{
    font-size:50px;
  }
  .item2 .btnpos{
    margin-top:25%;
    margin-left:5%;
    margin-bottom:10px;
  }
  ion-button{
    width:60%;
    height:80px;
    font-size:20px;
  }
}
@media screen and (max-width:800px){
  .menu{
    height:100%;
    margin-top:10%;
  }
  .menu .part1{
    height:2%;
    width:70%;
    margin-top:2%;
    margin-left:15%;
  }
  .menu .column .item1 ion-datetime{
    border-radius:25px;
    height:400px;
    width:70%;
    margin-left:15%;

  }
  ion-datetime{
    font-size:100px;
    margin-top:5%;
  }
  .menu ion-item{
    font-size:30px;
  }
  .item2 .btnpos{
    margin-top:20%;
    width:60%;
    margin-left:23%;
    margin-bottom:10px;
  }
  ion-button{
    width:50%;
    height:40px;
    font-size:12px;
  }
}
@media screen and (max-width:500px){
  .menu{
    height:100%;
    margin-top:20%;
  }
  .menu .part1{
    height:2%;
    width:90%;
    margin-top:2%;
    margin-left:4%;
  }
  .menu .column .item1 ion-datetime{
    border-radius:25px;
    height:400px;
    width:70%;
    margin-left:15%;
  }
  ion-datetime{
    font-size:100px;
    margin-top:10%;
  }
  .menu ion-item{
    font-size:15px;
  }
  .item2 .btnpos{
    margin-top:40%;
    margin-left:22%;
    margin-bottom:10px;
  }
  ion-button{
    margin-right:5%;
    width:90%;
    height:40px;
    font-size:12px;
  }
}
