<ion-content>
<ion-app>
  <div class="head">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header class="basehead">
      <ion-toolbar style="background-color:#FFDA29">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title  class=" header"></ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
  </div>
  <div class="menu">
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-text slot="end">{{formattedString}}</ion-text>
        <hr>
      </ion-item>
    <div class="column">
      <div class="item1">
        <ion-datetime [presentation]="selectedMode" #datetime *ngIf="showPicker" [value]="dateValue" (ionChange)="setToday()"></ion-datetime><!--(ionChange)="dateChanged(datetime.value)-->
      </div>
    </div>
      <div class="item2">
        <div class="btnpos">
          <ion-button class="btns" color="#FFDA29" (click)="socio()">SOCIO-ECONOMICAL SURVEY</ion-button>
          <ion-button class="btns" color="#FFDA29" (click)="begin()">BEGIN MOOD TRACKING</ion-button>
          <ion-button class="btns" color="#FFDA29" (click)="health()">HEALTH INDEX</ion-button>
        </div>
      </div>
  </div>
    <br>
    <!-- <ion-button (click)="achieve()">Achievements</ion-button>-->


</ion-app>
</ion-content>
