
ion-content  {
  --ion-background-color:#FFFFFF;
  font-family: 'Poppins', sans-serif;
}
.a1 ion-img{
  float: left;
  width:10%;
}
.a2 ion-img{
  float: left;
  width:6%;
  margin-left:2%;
}
.a3 ion-img{
  float: left;
  width:6%;
  margin-left:2%;
}
.a4 ion-img{
  float: left;
  width:6%;
  margin-left:2%;
}
.a5 ion-img{
  float: left;
  width:7%;
  margin-left:2%;
}
.menu .container1{
  overflow-x: hidden;
  overflow-y: auto;
  position:relative;
  font-family: 'Poppins', sans-serif;
  color:#ffffff;
}
ion-button{
  border-radius:25px;
  background-color:#250381;
  color:#ffffff;
  font-weight:bold;
  font-family: 'Poppins', sans-serif;
}
@media screen and (max-width:1366px){
  .menu .container1{
    overflow-x: hidden;
    overflow-y: auto;
    position:relative;
    height:82%;
    margin-left:2%;
    margin-right:2%;
    font-family: 'Poppins', sans-serif;
  }
  .menu .content{
    width:100%;
    height:150%;
    font-family: 'Poppins', sans-serif;
  }
  .menu{
    font-family: 'Poppins', sans-serif;
    width:100%;
    height:85%;
    align-items:center;
    position:fixed;
    margin-top:5%;
    margin-bottom:20%;
  }
  .amain{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size:80px;
    margin-left:26%;
  }
  .menu ion-button{
    width:15%;
    height:50px;
    font-size:30px;
    margin-left:44%;
    border-radius:55px;

  }
  ion-img{
    margin-top:3%;
  }

  .content ion-label{
    margin-top:1%;
    font-size:20px;
  }
}
@media screen and (max-width:1080px){
  .menu{
    margin-top:30%;
    font-size:80px;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
  }
  .amain{
    margin-left:21%;
  }
  .menu ion-button{
    width:35%;
    height:70px;
    font-size:50px;
    margin-left:33%;
    margin-bottom:30%;
    border-radius:55px;
  }
  ion-img{
    margin-top:3%;
  }
  .menu .container1{
    overflow-x: hidden;
    overflow-y: auto;
    position:relative;
    height:60%;
    margin-left:2%;
    margin-right:2%;
    font-family: 'Poppins', sans-serif;
  }
  .menu .content{
    width:100%;
    height:100%;
    font-family: 'Poppins', sans-serif;
  }
  .content ion-label{
    margin-top:5%;
    font-size:40px;
  }
}
