* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1A1A1A;
  color: rgba(255, 26, 104, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  width: 100vw;
  height: calc(100vh - 40px);
  background: rgba(255, 26, 104, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(255, 26, 104, 1);
  background: white;
  margin-left:35%;
  margin-bottom:2%;
  margin-top:2%;
}
ion-content  {
  --ion-background-color:#FFFFFF;
}
ion-label{
  font-size:15px;
  color:black;
}
@media screen and (max-width:1366px){

  ion-button{
    margin-left:48%;
    width:10%;
    height:45px;
    border-radius:15px;
    background-color:#11013F;
    color:#FFFFFF;
    font-size:25px;
    font-family: 'Quicksand';
  }
}
@media screen and (max-width:1080px){
  .chartBox{
    width:800px;
    height:500px;
    margin-left:13%;
  }
  ion-label{
    padding: 10px;
    font-size: 30px;
  }
  ion-button{
    margin-left:40%;
    margin-top:2%;
    width:20%;
    height:55px;
    border-radius:15px;
    background-color:#11013F;
    color:#FFFFFF;
    font-size:35px;
    font-family: 'Poppins', sans-serif;
  }
}
