.menu
{
  margin-top:15%;
  text-align: center;
  height:20%;
  width:90%;
  align-items:center;
  margin-left:5%;
  margin-right:5%;
  color:#ffffff;
  font-weight:bold;
}
h1{
  font-size:20px;
}
h3{
  font-size:20px;
}
.b1{
  border-radius:25px;
  width:55%;
  background-color:#11013F;
  color:#ffffff;
  height:50px;

}
hr{
  width:90%;
  height:2px;
  color:#000000;
  background-color:#000000;
}
.b2{
  border-radius:25px;
  width:55%;
  background-color:#11013F;
  color:#ffffff;
  height:60px;
}
.bmain{
  margin-top:70%;
}
ion-content  {
  --ion-background-color:#FFDA29;
}
.header{
  background-color:#FFDA29;
}
