.header{
  background-color:#FFC000;
}
ion-content  {
  --ion-background-color:#FFC000;
}
ion-button{
    align-items:center;
    text-align: center;
    margin-top:3%;

    margin-left:32%;
    margin-right:40%;
    width:40%;
    height:75px;
    background-color:#250381;
    border-radius:70px;
    color:#ffffff;
    font-size:70px;
}
.menu{
  margin-top:10%;
  height:90%;
}
.menu .container1{
  overflow-x: hidden;
  overflow-y: auto;
  position:relative;
  height:90%;
  margin-top:2%;
  margin-left:2%;
  margin-right:2%;
  font-family:'Quicksand';
  color:#ffffff;
}
.menu .container{
  width:100%;
  height:700%;
  background-color:#250381;
  font-family:'Quicksand';
  color:#ffffff;
}
.menu .l1{
  margin-left:20%;
  text-shadow:white 5px 5px;
  font-size:90px;
}
.menu ion-img{
  width:10%;
  float:left;
}
.container .img11{
  width:6%;
  margin-left:2%;
  margin-right:2%;
}
.container .img12{
  width:7%;
  margin-left:1%;
  margin-right:2%;
  margin-top:1%;
}
.container p{
  width:85%;
  margin-left:10%;
  text-align: justify;
}


@media screen and (max-width:1080px){
  .menu .container .l1{
    margin-left:15%;
    font-size:100px;
  }
  .menu .container ion-img{
    width:20%;
  }
  .menu .container ion-label{
    font-size:40px;
  }
  .menu .container p{
    font-size:40px;
  }
  .menu .container ion-button{
    width:30%;
    font-size:50px;
    height:60px;
    margin-left:35%;
  }
}
