<ion-content>
  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu Content</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">This is the menu content.</ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header class="basehead">
        <ion-toolbar style="background-color:#250381">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="header"></ion-title>
        </ion-toolbar>
      </ion-header>
    </div>

    <div class="menu">
      <ion-label class="l1">SUGGESTIONS!</ion-label>

      <div class="container1">
      <div class="container">
      <br>
        <ion-img src = "assets/Suggestions/Begin your day....png"></ion-img><br>
        <ion-label class="l2" >Begin your day with a mindful morning.</ion-label>
        <p>You can start your day off on the right foot by doing some morning yoga or taking a short time to meditate. Stretching is a good way to wake up your muscles and become more aware of how your body is feeling. Also, you can prepare yourself a satisfying breakfast that is both delicious and healthful. Even the act of preparing your morning meal can be made enjoyable and mindful.</p>


        <ion-img src = "assets/Suggestions/Talk to anyone.....png"></ion-img><br>
        <ion-label class="l2" >Talk to anyone or Chat with a co-worker and colleagues.</ion-label>
        <p>Know that you aren't alone. As the late Maya Angelou once remarked, "There is no greater agony than bearing an untold story inside of you." Talk to your loved ones, see a therapist, have daily conversations with your coworkers and colleagues, or join the conversation on social media.</p>


        <ion-img src = "assets/Suggestions/Feel the negative.png"></ion-img><br>
        <ion-label class="l2" >Feel the negative.</ion-label>
        <p>An article published in 2017 in the Harvard Health Blog cites three distinct studies that demonstrate "feeling okay about feeling bad" is beneficial for mental health. The article claims that when faced with daily challenges, accepting unpleasant emotional experiences rather than judging them can help reduce harmful emotions when confronted with daily stressors.</p>


        <ion-img src = "assets/Suggestions/Work on your strengths.png"></ion-img><br>
        <ion-label class="l2" >Work on your strengths.</ion-label>
        <p>Identify the core strengths that make you unique, valuable, and passionate about your work. There are robust ways to discover your unique talents, abilities, and ways of thinking by talking with your manager, mentors, peers, or career coach. Don't compare yourself with others, but approach people who inspire or even challenge you for your growth. Also, learn from those around you and capitalize on their strengths, and use the experience as an opportunity for observation and personal progress.</p>


        <ion-img src = "assets/Suggestions/Get enough sleep.png"></ion-img><br>
        <ion-label class="l2" >Get enough sleep.</ion-label>
        <p>Adults typically require 7-9 hours of good sleep each night. Failure to accomplish this frequently can have an effect on one's energy, mood, and motivation. In order to maintain good mental health, it's essential to give the body enough time to rest and recharge at night.</p>

        <ion-img src = "assets/Suggestions/Consume a healthy diet.png"></ion-img><br>
        <ion-label class="l2" >Consume a healthy diet.</ion-label>
        <p>Making healthy eating choices is a little bit simpler when we think of our food as body fuel. Inflammation throughout the body and brain caused by sugar and processed meals may play a role in mood disorders like anxiety and depression. So, develop a healthy shopping list and stick to it. Steer clear of processed snack foods, such as potato chips, which can impair your ability to concentrate. Don't shop while hungry, since you'll be more likely to make unhealthy impulse purchases. Instead, consume plenty of healthy fats, such as olive oil, coconut oil, and avocado. This will support your brain function.</p>


        <ion-img src = "assets/Suggestions/Exercise frequently.png"></ion-img><br>
        <ion-label class="l2" >Exercise frequently.</ion-label>
        <p>For most healthy adults, the Department of Health and Human Services recommends these exercise guidelines. Aim for at least 150 minutes of moderate aerobic activity or 75 minutes of vigorous aerobic activity a week. But even small amounts of physical activity are helpful. Being active for short periods of time throughout the day can add up and provide health benefits. And if you can't fit in a 30-minute walk every day, why not try a few five-minute walks instead? Any activity is better than none at all, and it's important to make regular physical activity part of your lifestyle. Even brief bouts of exercise are good for you.</p>


        <ion-img src = "assets/Suggestions/Slow down.png"></ion-img><br>
        <ion-label class="l2" >Slow down.</ion-label>
        <p>Rushing between locations and tasks is one of the most sure-fire ways to raise your stress levels. Occasionally taking the time to slow down allows you to reevaluate your priorities and become more mindful of the present. Additionally, it can lower your blood pressure while boosting cognitive abilities and regaining emotional stability.</p>


        <ion-img src = "assets/Suggestions/Set realistic targets.png"></ion-img><br>
        <ion-label class="l2" >Set realistic targets. </ion-label>
        <p>Your success and failure are not the only things that are determined by your goals. They give you reason to rejoice when you succeed. However, you will not always succeed in achieving your goals, and that's fine too. Goals should challenge us while remaining attainable. Be realistic about your circumstances so that you and others helping you won't constantly feel like failures. Then find moments to celebrate—especially when times are tough.</p>


        <ion-img src = "assets/Suggestions/Watch a short.....png"></ion-img><br>
        <ion-label class="l2" >Watch a short, funny video or whatever makes you laugh.</ion-label>
        <p>Did you know that laughing can also revitalize you and help you be more productive? After all, we all know that laughing just feels good (hello, endorphins!). Feel free to spend a few minutes taking a good laugh at some humorous sketches, hilarious TikToks, Facebook or Instagram Reels, or that meme your friend sent you a week ago. This is an easy and incredibly enjoyable method to break up a long workday, reduce tension, and improve your mood without even getting up from your desk.</p>

        <ion-img class="img11" src = "assets/Suggestions/take lunch and.....png"></ion-img><br>
        <ion-label class="l3" >Take lunch and snack breaks that energize you.</ion-label>
        <p>Making sure your lunch is fully stocked with carbohydrates and low-fat protein is one of the greatest methods to keep yourself energized throughout the day. The fiber-rich foods found in fruits, vegetables, nuts, legumes, and whole grains are where the beneficial carbohydrates are found. Additionally, eating frequently will maintain your metabolism active and make you feel energized. Fruits offer long-lasting carbohydrates that keep you satisfied for hours after eating them. Eating fiber in granola and oatmeal can also help keep you from feeling hungry and give you a vigorous boost as the day continues.</p>

        <ion-img class="img12" src = "assets/Suggestions/Take a short walk.png"></ion-img><br>
        <ion-label  >Take a short walk. Get Outdoors.</ion-label>
        <p>The benefits of taking a walk during the workday are threefold: they can improve creativity and mental clarity, provide your body with a much-needed respite from sitting, and boost general happiness. Next time you're losing yourself in a mound of paperwork or feeling hopeless about the daily monotony of work life, take a walk around the block or climb up and down the stairwell if you're stuck inside. Even if it is only for five minutes, you may return to your work feeling refreshed and energized.</p>


        <ion-img src = "assets/Suggestions/Play uplifting music.png"></ion-img><br>
        <ion-label class="l2" >Play uplifting music.</ion-label>
        <p>This practice can do more than just make your cubicle more tolerable, whether you use it to block out office noise or set a certain mood throughout the day. Dopamine, a feel-good neurotransmitter associated with pleasure of all kinds, was found to be directly correlated with listening to music in a 2019 study from the Montreal Neurological Institute and Hospital. While learning a new skill or processing complicated information might not be the best times to listen to music, you should feel free to do so when performing routine daily duties or relatively simple cognitive tasks.</p>


        <ion-img src = "assets/Suggestions/Find meaning in.....png"></ion-img><br>
        <ion-label class="l2" >Find meaning in your work.</ion-label>
        <p>A little bit more than one-third of people say they are fully engaged at work. You will experience greater happiness and may develop a stronger sense of purpose in life if you connect your daily tasks to the wider picture. Try connecting your work to the people you're serving as the first step in finding meaning in your to-do list.  Start even more modestly by asking yourself, "What is one thing I can do today that will be meaningful, helpful, or valuable to me and/or others?" The answer may be as straightforward as giving an assignment to a person for whom you are responsible and whose work depends on you.</p>


        <ion-img src = "assets/Suggestions/Do things for others.png"></ion-img><br>
        <ion-label class="l2" >Do things for others.</ion-label>
        <p>People who consistently help other people experience greater calm, fewer pains, better health and less depression, according to Mental Health America. Further, one study found that students who completed 5 acts of kindness per day significantly improved their levels of happiness.</p>



    </div>
    </div>
    <ion-button (click)="menu()">MENU</ion-button>
  </div>

    </ion-app>
</ion-content>
