<ion-content>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu Content</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">This is the menu content.</ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header class="basehead">
        <ion-toolbar style="background-color:#FFDA29">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="header"></ion-title>
        </ion-toolbar>
      </ion-header>
    </div>

    <div class="content">
        <ion-label><h1>HOW ARE YOU?</h1></ion-label>
        <hr class="t1">
      <div class="emoji">
        <div class="emojis">
        <ion-img id ="e1" class="happy" src="assets/Logo.png"></ion-img>
        <ion-img id ="e2" class="sad" src="assets/Logo.png"></ion-img>
        <ion-img id ="e3" class="afraid" src="assets/Logo.png"></ion-img>
        <ion-img id ="e4" class="disgusted"  src="assets/Logo.png"></ion-img>
        <ion-img id ="e5" class="angry" src="assets/Logo.png"></ion-img>
        </div>
      </div>
      <div class="radio">
        <ion-radio-group value="custom-checked" [(ngModel)]="value_selected">
          <ion-radio name="emoji" class ="r1" (click) = "happy()" value="Happy"></ion-radio>
          <ion-label class="l1">HAPPY</ion-label>
          <ion-radio name="emoji" class ="r2" (click) = "sad()" value="Sad"></ion-radio>
          <ion-label class="l2">SAD </ion-label>
          <ion-radio name="emoji" class ="r3" (click) = "afraid()" value="Afraid"></ion-radio>
          <ion-label class="l3">AFRAID</ion-label>
          <ion-radio name="emoji" class ="r4" (click) = "disgusted()" value="Disgusted"></ion-radio>
          <ion-label class="l4">DISGUSTED </ion-label>
          <ion-radio name="emoji" class ="r5" (click) = "angry()" value="Angry"></ion-radio>
        <ion-label class="l5">ANGRY</ion-label>
        </ion-radio-group>
      </div>
      <div class="scale">
        <ion-label>{{value_selected}}</ion-label>
        <ion-range (ionChange)="onIonChange($event)" id="range" [min]="1" [max]="10" [value]="1" [pin]="true" [ticks]="true" [snaps]="true" disabled=""></ion-range>
        <ion-button id ="next"class="btns" color="#11013F" (click)="begin()" disabled="">NEXT</ion-button>
      </div>
  </div>

</ion-content>
