.menu
{
  margin-top:15%;
  text-align: center;
  height:50%;
  width:90%;
  align-items:center;
  margin-left:5%;
  margin-right:5%;
  color:#ffffff;
  font-family:'Quicksand';
}
ion-content  {
  --ion-background-color:#FFC000;
}
h1{
  font-size:50px;
  text-shadow: #000000 10px 10px;
}
h3{
  text-shadow: #000000 5px 5px;
}
ion-button{
  border-radius:25px;
  width:50%;
  background-color:#11013F;
  color:#ffffff;
  height:100px;
  font-size:30px;
}

.bmain{
  margin-top:20%;
}
.img{
  margin-left:5%;
  width:80%;
}
.menu ion-img{
  margin-right:px;
  width:100%;
}
.header{
  background-color:#FFC000;
}
@media screen and (max-width:1366px){
  .sc-ion-buttons-md-h {
    display: block !important;
  }
  ion-menu-button {
    font-size: 70px !important;
  }
  ion-content .menu{
    margin-top:5%;
  }
  ion-content .menu .bmain{
    margin-top:2%;
    height:150px;
  }
  ion-content .menu ion-button{
    width:20%;
    height:50px;
    font-size:20px;
  }
  .menu .img ion-img{
    width:50%;
    margin-left:30%;
  }
  ion-content .menu h1{
    font-size:70px;
    text-shadow: #000000 5px 5px;
  }
  ion-content .menu h3{
    font-size:30px;
    text-shadow: #000000 3px 3px;
  }
}

@media screen and (max-width:1080px){
  .sc-ion-buttons-md-h {
    display: block !important;
  }
  ion-menu-button {
    font-size: 70px !important;
  }
  ion-content .menu h1{
    font-size:120px;
  }
  ion-content .menu h3{
    font-size:60px;
  }
  ion-content .menu{
    margin-top:20%;
  }
  .menu .img ion-img{
    width:100%;
    margin-left:2%;
  }
  ion-content .menu .bmain{
    margin-top:10%;
  }
  ion-content .menu .bmain ion-button{
    width:50%;
    font-size:30px;
    height:80px;
  }
}
