<ion-content>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <ion-list-header color="#FFC000"><ion-button (click)="next()">NEXT</ion-button></ion-list-header>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>1. I feel excited about going to work.</ion-label>
    <ion-card-content>
      <canvas #barChart1></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>2. I am very happy when I’m at work.</ion-label>
      <ion-label></ion-label>
    <ion-card-content>
      <canvas #barChart2 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>3. I’m not stressed at all when I’m at work.</ion-label>
    <ion-card-content>
      <canvas #barChart3 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>4. I am productive today and got all the work done.</ion-label>
    <ion-card-content>
      <canvas #barChart4 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>5. I feel like I am accepted for who I am at work, and I’m free to be my authentic self.</ion-label>
    <ion-card-content>
      <canvas #barChart5 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>6. I still feel energized after a day at work.</ion-label>
    <ion-card-content>
      <canvas #barChart6 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>7. I feel like I have a good sense of work-life balance and I can finish the work day without feeling compelled to keep working at home.</ion-label>
    <ion-card-content>
      <canvas #barChart7 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>8. I feel like I am able to disconnect from my work on the weekends.</ion-label>
    <ion-card-content>
      <canvas #barChart8 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>9. I’m content with my overall sense of mental well-being at work.</ion-label>
    <ion-card-content>
      <canvas #barChart9 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
  <ion-card class="welcome-card">
    <div class="chartBox">
      <ion-label>10. I feel fulfilled by the work that I do.</ion-label>
    <ion-card-content>
      <canvas #barChart10 ></canvas>
    </ion-card-content>
   </div>
  </ion-card>
</ion-content>
