.buttons ion-button{

  margin-bottom:15%;
  width:80%;
  height:120px;
  border-radius:15px;
  background-color:#250381;
  color:#FFFFFF;
  font-size:55px;
  font-family: 'Poppins', sans-serif;
}
.buttons{
  margin-left:18%;
  margin-top:60%;
}
