<ion-content>
  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu Content</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">This is the menu content.</ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header class="basehead">
        <ion-toolbar style="background-color:#FFDA29">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title></ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
    <h1>Daily Questions</h1>
    <ion-label><h3>SA - Strongly Agree A - Agree <br>D - Disagree SD - Strongly Disagree</h3></ion-label>
    <div class="menu">
      <br>
      <br>
      <ion-list style="width:90%;">
        <ion-item>
          <ion-label>Question 1</ion-label>
          <ion-list>
            <ion-item>
              <ion-select class="select"interface="popover"  placeholder="Choose:" [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}">
                <ion-select-option value="SA">SA</ion-select-option>
                <ion-select-option value="A"> A</ion-select-option>
                <ion-select-option value="D"> D</ion-select-option>
                <ion-select-option value="SD">SD</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Question 2</ion-label>
          <ion-list>
            <ion-item>
              <ion-select class="select"interface="popover"  placeholder="Choose:" [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}">
                <ion-select-option value="SA">SA</ion-select-option>
                <ion-select-option value="A">A</ion-select-option>
                <ion-select-option value="D">D</ion-select-option>
                <ion-select-option value="SD">SD</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Question 3</ion-label>
          <ion-list>
            <ion-item>
              <ion-select class="select"interface="popover"  placeholder="Choose:" [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}">
                <ion-select-option value="SA">SA</ion-select-option>
                <ion-select-option value="A">A</ion-select-option>
                <ion-select-option value="D">D</ion-select-option>
                <ion-select-option value="SD">SD</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Question 4</ion-label>
          <ion-list>
            <ion-item>
              <ion-select class="select"interface="popover"  placeholder="Choose:" [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}">
                <ion-select-option value="SA">SA</ion-select-option>
                <ion-select-option value="A">A</ion-select-option>
                <ion-select-option value="D">D</ion-select-option>
                <ion-select-option value="SD">SD</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Question 5</ion-label>
          <ion-list>
            <ion-item>
              <ion-select class="select"interface="popover"  placeholder="Choose:" [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}">
                <ion-select-option value="SA">SA</ion-select-option>
                <ion-select-option value="A">A</ion-select-option>
                <ion-select-option value="D">D</ion-select-option>
                <ion-select-option value="SD">SD</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Question 5</ion-label>
          <ion-list>
            <ion-item>
              <ion-select class="select"interface="popover"  placeholder="Choose:" [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}">
                <ion-select-option value="SA">SA</ion-select-option>
                <ion-select-option value="A">A</ion-select-option>
                <ion-select-option value="D">D</ion-select-option>
                <ion-select-option value="SD">SD</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
        <br>

      </ion-list>
      <ion-button color="#250381"(click)="next()">Next</ion-button>
    </div>

  </ion-app>
</ion-content>
