ion-content  {
  --ion-background-color:#FFFFFF;
}
ion-button{
  background-color:#250381;
  color:#ffffff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
ion-menu-button {
  font-size: 350px !important;
  color:#250381;
}
@media screen and (max-width:1920px){
  .menu{
    margin-top:5%;

  }
  ion-label{
    font-size:150px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left:30%;
    font-style: italic;
  }
  ion-img{
    margin-top:5%;
    margin-bottom:5%;
    height:40%;
    width:40%;
    margin-left:30%;
  }
  ion-button{
    font-size:30px;
    margin-right:38%;
    border-radius:25px;
    width:30%;
    height:90px;
    margin-left:35%;
  }

}

@media screen and (max-width:1366px){
  .menu{
    margin-top:5%;
  }
  ion-label{
    font-size:110px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left:30%;
  }
  ion-img{
    width:40%;
    height:40%;
    margin-left:30%;
  }
  ion-button{
    font-size:20px;
    margin-right:38%;
    border-radius:25px;
    width:30%;
    height:60px;
    margin-left:35%;
  }
}
@media screen and (max-width:1080px){
  .menu{
    margin-top:30%;
  }
  ion-label{
    font-size:150px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left:10%;
  }
  ion-img{
    margin-top:5%;
    margin-bottom:5%;
    height:60%;
    width:100%;
    margin-left:1%;
  }
  ion-button{
    font-size:30px;
    margin-right:38%;
    border-radius:25px;
    width:50%;
    height:90px;
    margin-left:25%;
  }

}
@media screen and (max-width:800px){
  .menu{
    margin-top:10%;
  }
  ion-label{
    font-size:90px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left:20%;
  }
  ion-img{
    height:45%;
    width:70%;
    margin-left:16%;
  }
  ion-button{
    font-size:20px;
    margin-right:38%;
    border-radius:25px;
    width:40%;
    height:60px;
    margin-left:31%;
  }

}
@media screen and (max-width:500px){
  .menu{
    margin-top:40%;
  }
  ion-label{
    font-size:50px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left:12%;
  }
  ion-img{
    height:45%;
    width:80%;
    margin-left:9%;
  }
  ion-button{
    font-size:15px;
    margin-right:38%;
    border-radius:25px;
    width:40%;
    height:40px;
    margin-left:31%;
  }

}
