
.menu{
  align-items:center;
  text-align: center;
  width:100%;
  margin-top:10%;
  font-family:'Quicksand';
}
.menu ion-label{
font-size:70px;
text-shadow: white 5px 5px;
}
ion-img{
  width:50%;
  margin-left:25%;
}
ion-button{
  align-items:center;
  text-align: center;
  margin-top:2%;
  margin-left:40%;
  margin-right:40%;
  width:20%;
  height:35px;
  background-color:#250381;
  border-radius:25px;
  color:#ffffff;
}
ion-content  {
  --ion-background-color:#FFC000;
}
.header{
  background-color:#FFC000;
}


@media screen and (max-width:1080px){
  .sc-ion-buttons-md-h {
    display: block !important;
  }
  .ion-page ion-header ion-toolbar ion-buttons ion-menu-button {
    font-size:70px !important;
  }
  .menu{
    height:100%;
    margin-top:35%;
  }
  .menu ion-img{
    margin-top:10%;
    margin-left:1%;
    width:100%;
  }
  .menu ion-button{
    margin-top:10%;
    margin-left:20%;
    width:60%;
    height:90px;
    font-size:70px;
  }
  .menu ion-label{
    font-size:150px;
  }
  ion-checkbox {
    margin-top: 10%;
    --size: 45px;
    --background-checked: #6815ec;
  }
  ion-select{
    margin-top:80%;
    font-size:30px;
  }
  ion-select-option{
    font-size:50px;
  }
}
