ion-content  {
  --ion-background-color:#FFFFFF;
}
ion-button{
  background-color:#250381;
  color:#ffffff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
ion-menu-button {
  font-size: 350px !important;
  color:#250381;
}

@media screen and (max-width:1366px){
  .menu{
    margin-top:14%;
  }
  ion-label{
    font-size:90px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left:34%;
  }
  ion-img{
    width:30%;
    height:40%;
    margin-left:35%;
  }
  ion-button{
    font-size:20px;
    margin-right:38%;
    border-radius:25px;
    width:30%;
    height:60px;
    margin-left:35%;
  }
}
@media screen and (max-width:1080px){
  .menu{
    margin-top:30%;
  }
  ion-label{
    font-size:150px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left:16%;
  }
  ion-img{
    margin-top:5%;
    margin-bottom:5%;
  }
  ion-button{
    font-size:30px;
    margin-right:38%;
    border-radius:25px;
    width:50%;
    height:90px;
    margin-left:25%;
  }

}
