<ion-content>
  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu Content</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-button>MAIN MENU</ion-button>
        <ion-button>HANNAH</ion-button>
        <ion-button>RON</ion-button>
        <ion-button>DANIELA</ion-button>
        <ion-button>DIANNE</ion-button>
        <ion-button>YANREI</ion-button>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header class="basehead">
        <ion-toolbar style="background-color:#250381">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="header"></ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
    <div class="menu">
      <div class="part1">
        <ion-img src="assets/Portfolio/Gio/MAIN LOGO.png"></ion-img>
        <ion-label><h1>GREETINGS</h1></ion-label><br>
        <ion-label class="l2">I am Giorevh McJude Ortega. Welcome to my lounge!</ion-label>
      </div>
      <div class="row">
        <div class="column">
            <ion-label>I AM 21 YEARS OLD</ion-label><br>
            <ion-img src="assets/Portfolio/Gio/Manila.jpg"></ion-img>
            <ion-label>I WAS BORN AT MANILA, PHILIPPINES</ion-label>
            <div class="pics">
              <div class="pic1">
                <ion-img src="assets/Portfolio/Gio/Genshin Icon.png"></ion-img>
                <ion-img src="assets/Portfolio/Gio/Valorant icon.png"></ion-img>
              </div>
            </div>
            <ion-label>AND I LOVE PLAYING COMPUTER GAMES</ion-label>
          </div>
        <div class="column">
          <div class="part2">
            <div class="pics">
              <div class="pic1">
                <ion-label>I STUDIED JUNIOR HIGHSCHOOL AT QUEZON NATIONAL HIGH SCHOOL</ion-label>
                <ion-img class = "img1"src="assets/Portfolio/Gio/Quezon National High School Logo (Junior High School).png"></ion-img>
              </div>
            </div>
            <div class="pics">
              <div class="pic1">
                <ion-img class = "img2"src="assets/Portfolio/Gio/Sacred Heart College Logo (Senior High School).png"></ion-img>
                <ion-label>I STUDIED SENIOR HIGHSCHOOL AT SACRED HEART COLLEGE</ion-label>
            </div></div>
            <div class="pics">
              <div class="pic1">
              <ion-label>AND NOW, I AM A COLLEGE STUDENT AT BATANGAS STATE UNIVERSITY!</ion-label>
              <ion-img class = "img3" src="assets/Portfolio/Gio/BSU Logo (College).png"></ion-img>
              </div></div>
          </div>
        </div>
        <div class="column">

        </div>
      </div>
    </div>
  </ion-app>
</ion-content>
