ion-content  {
  --ion-background-color:#ffffff;
}
ion-menu-button {
  font-size: 70px !important;
  color:#250381;
}

.menu .container1{
  overflow-x: hidden;
  overflow-y: auto;
  position:relative;
  font-family: 'Poppins', sans-serif;
}
h1{
  text-align:center;
}
ion-button{
  align-items: center;
  border-radius:25px;
  background-color:#250381;
  color:#ffffff;
  font-weight:bold;

}
@media screen and (max-width:1366px){
  ion-select{
    margin-top:5px ;
    width:200px;
  }
  ion-menu-button {
    font-size: 90px !important;
    color:#250381;
  }
  .menu .container1{
    overflow-x: hidden;
    overflow-y: auto;
    position:relative;
    height:82%;
    margin-left:2%;
    margin-right:2%;
    font-family: 'Poppins', sans-serif;
  }
  .menu .container{
    width:100%;
    height:150%;
    font-family: 'Poppins', sans-serif;
  }
  .menu{
    font-family: 'Poppins', sans-serif;
    width:100%;
    height:85%;
    align-items:center;
    position:fixed;
    margin-bottom:20%;
  }
  h1{
    text-align:center;
    font-size:80px;
    margin-top:5%;
  }
  ion-button{
    width:10%;
    height:40px;
    margin-left:45%;
    margin-top:1%;
  }
  .grid1 ion-col{
    height:30px;
    border: 1px solid #000000;
    }
  .grid2 ion-col{
    height:30px;
    border: 1px solid #000000;
    }
  .grid3 ion-col{
    height:40px;
    border: 1px solid #000000;
    }
  .align1{
    text-align: center;
  }
  .grid1 ion-radio{
    margin-left:46%;
  }
  .grid2 ion-radio{
    margin-left:46%;
  }
  .grid3 ion-radio{
    margin-left:46%;
  }

}
@media screen and (max-width:1080px){
  .menu {
    font-size:40px;
    height:105%;
    font-family: 'Poppins', sans-serif;
  }
  ion-menu-button {
    font-size: 70px !important;
    color:#250381;
  }
  h1{
    text-align:center;
    font-size:100px;
    margin-top:5%;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
  }
  .questions ion-label{
    font-size:40px;
    margin-bottom:5%;
    font-family: 'Poppins', sans-serif;
  }
  .grid1 ion-col{
    height:95px;
    border: 1px solid #000000;
    }
  .grid2 ion-col{
    height:95px;
    border: 1px solid #000000;
    }
  .grid3 ion-col{
    height:230px;
    border: 1px solid #000000;
    }
  .align1{
    text-align: center;
  }
  .grid1 ion-radio{
    margin-top:5%;
    margin-left:42%;
    width:20%;
    height:55%;
  }
  .grid2 ion-radio{
    margin-top:10%;
    margin-left:36%;
    width:30%;
    height:40%;
  }
  .grid3 ion-radio{
    margin-top:65%;
    margin-left:38%;
    width:30%;
    height:20%;
  }
  ion-button{
    width:20%;
    height:60px;
    margin-left:40%;
    margin-top:1%;
    font-size:30px;
    font-weight:bold;
  }
  ion-select{
    width:200px;
    font-size:30px;
  }
}

