ion-content  {
  --ion-background-color:#FFC000;
}
.header{
  background-color:#FFC000;
}
.output{
  margin-top:5%;
  width:90%;
  margin-left:5%;
  height:55%;
}
.terms{
  width:90%;
  margin-left:3.5%;
  height:40%;
  margin-top:2%;
  margin-bottom:12%;
}
.step1{
  margin-left:10%;
  margin-top:5%;
  width:80%;
  text-align:center;
  align-items: center;
  height:4%;
}
.step1 .num1{
  width:80%;
  text-align:center;
  align-items: center;
}
ion-button{
  align-items: center;
  border-radius:25px;
  width:10%;
  height:40px;
  background-color:#11013F;
  color:#ffffff;
  margin-top:10%;
  margin-left:45%;
}
.questions{
  width:90%;
  margin-left:2%;
  margin-top:2%;
  text-align: left;
  height:100%;
}
.align1{
  text-align: center;

}
.grid1 ion-grid{
  width:65%;
}
.grid1 ion-col{
height:30px;
border: 1px solid #000000;
}
.grid1 ion-radio{
  margin-left:46%;
}
.grid2 ion-grid{
  width:90%;
  margin-left:5%;
}
.grid2 ion-col{
height:30px;
border: 1px solid #000000;
}
.grid3 ion-radio{
  margin-left:46%;
}
.grid3 ion-grid{
  width:90%;
  margin-left:4%;
}
.grid3 ion-col{
height:57px;
border: 1px solid #000000;
}
.grid3 ion-radio{
  margin-left:46%;
}

@media screen and (max-width:1366px){
  ion-content  {
    --ion-background-color:#FFC000;
  }
  .header{
    background-color:#FFC000;
  }
  .output{
    margin-top:5%;
    width:90%;
    margin-left:5%;
    height:55%;
  }
  .terms{
    width:90%;
    margin-left:3.5%;
    height:25%;
    margin-top:2%;
    margin-bottom:12%;
  }
  .step1{
    margin-left:10%;
    margin-top:5%;
    width:80%;
    text-align:center;
    align-items: center;
    height:4%;
  }
  .step1 .num1{
    width:80%;
    text-align:center;
    align-items: center;
  }
  ion-button{
    align-items: center;
    border-radius:25px;
    width:10%;
    height:40px;
    background-color:#11013F;
    color:#ffffff;
    margin-top:50%;
    margin-left:45%;
  }
  .questions{
    width:90%;
    margin-left:2%;
    margin-top:2%;
    text-align: left;
    height:100%;
  }
  .align1{
    text-align: center;

  }
  .grid1 ion-grid{
    width:65%;
  }
  .grid1 ion-col{
  height:30px;
  border: 1px solid #000000;
  }
  .grid1 ion-radio{
    margin-left:46%;
  }
  .grid2 ion-grid{
    width:90%;
    margin-left:5%;
  }
  .grid2 ion-col{
  height:30px;
  border: 1px solid #000000;
  }
  .grid3 ion-radio{
    margin-left:46%;
  }
  .grid3 ion-grid{
    width:90%;
    margin-left:4%;
  }
  .grid3 ion-col{
  height:57px;
  border: 1px solid #000000;
  }
  .grid3 ion-radio{
    margin-left:46%;
  }
}
@media screen and (max-width:1080px){
  .sc-ion-buttons-md-h {
    display: block !important;
  }
  .ion-page ion-header ion-toolbar ion-buttons ion-menu-button {
    font-size:70px !important;
  }
  .output{
    margin-left:0%;
    height:100%;
    width:100%;
    margin-top:10%;
    font-size:30px;
  }
  .output .step1{
    margin-top:5%;
  }
  .output .step1 ion-radio{
    margin-top:2%;
  }
  .questions{
    width:100%;
    margin-top:8%;
  }
  .questions ion-label{
    font-size:30px;
    margin-bottom:5%;

  }
  .questions ion-select{
    width:60%;
  }
  .grid1 ion-grid{
    width:90%;
  }
  .grid1 ion-col{
    height:75px;
    border: 1px solid #000000;
  }
  .grid1 .align1 ion-col{
      height:80px;
  }
  .grid1 ion-radio {
    margin-right:7%;
    margin-top:8%;
    width: 30px;
    height: 30px;
}
  .radmain{
    margin-top:5%;
  }
  .grid2 ion-grid{
    margin-left:0;
    width:95%;
    font-size:25px;
  }
  .grid2 ion-col{
    height:75px;
    border: 1px solid #000000;
  }
  .grid2 .align1 ion-col{
      height:80px;
  }
  .grid2 ion-radio {
    margin-top:80%;
    margin-left:35%;
    margin-top:8%;
    width: 30px;
    height: 30px;
}
  .questions .num8{
    margin-top:5%;
  }
.grid3 ion-grid{
  margin-left:0;
  width:95%;
  font-size:25px;
}
.grid3 ion-col{
  height:95px;
  border: 1px solid #000000;
}
.grid3 .align1 ion-col{
    height:90px;
}
.grid3 ion-radio {
  margin-top:80%;
  margin-left:35%;
  margin-top:8%;
  width: 30px;
  height: 30px;
}
.questions ion-select-option{
  margin-left:10%;
  max-width:200px;
  text-align:center;
  font-size:105px;
  width: 80%;;
}

.questions ion-select{
  width: 80%;;
  font-size:35px;
  margin-left:30%;
}
.questions .num10{
  margin-top:5%;
}
ion-button{
  width:30%;
  height:60px;
  font-size:50px;
  margin-top:2%;
  margin-left:34%;
  margin-bottom:5%;
}
}
