* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1A1A1A;
  color: rgba(255, 26, 104, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  width: 100vw;
  height: calc(100vh - 40px);
  background: rgba(255, 26, 104, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 700px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(255, 26, 104, 1);
  background: white;
}
ion-content  {
  --ion-background-color:#FFFFFF;
}
@media screen and (max-width:1366px){
  ion-button{
    width:10%;
    margin-left:46%;
    height:25px;
    border-radius:15px;
    background-color:#250381;
    color:#FFFFFF;
    font-size:25px;
    font-family: 'Poppins', sans-serif;
  }
}
@media screen and (max-width:1080px){
  ion-card{
    margin-top:45%;
  }
  ion-button{
    margin-left:40%;
    margin-top:5%;
    width:20%;
    height:55px;
    border-radius:15px;
    background-color:#11013F;
    color:#FFFFFF;
    font-size:35px;
    font-family: 'Poppins', sans-serif;
  }
}
