ion-content{
  --ion-background-color:#FFFFFF;
  overflow:hidden;
}
ion-content{
  font-family: 'Poppins', sans-serif;
}
.all {
  overflow:hidden;
  position: fixed;
  width:100%;
}
.container h1{
  text-align:center;
  margin-right:7%;
  margin-bottom:3%;
  color:#250381;
  font-size:90px;
  font-weight: bold;
}
.container h2{
  margin-top:10%;
  text-align:center;
  color:#250381;
  font-size:30px;
  margin-bottom:20%;
}
.container1 {
  display: flex;
  flex-wrap: wrap; /* This is to allow the columns to wrap to a new row if the container width is too small */
}

.column {
  padding: 10px; /* Optional padding for each column */
  box-sizing: border-box; /* This ensures that the padding is included in the width of the column */
  font-size:32px;
  margin-left:16.5%;
  color:#250381;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.container .input .textbox{
  color:#250381;
  width:60%;
  height:90px;
  background-color: #F8E4A5;
  font-family: 'Poppins', sans-serif;
}
.container ion-input {
  width:60%;
  border-style:solid;
  border-width:4px;
  border-radius:50px;
  text-indent:50px;
  margin-bottom:1%;
}

ion-icon{
  font-size: 40px;
  margin-left:30px;
}
.all .input{
  width:80%;
  margin-left:5%;
}
.container .input ion-button{
  width:60%;
  height:45px;
  border-radius:15px;
  background-color:#250381;
  color:#FFFFFF;
  font-size:25px;
}
@media screen and (max-width:1080px){
  .all{
    margin-top:10%;
  }
  .container h1{
    margin-top:20%;
    font-size:120px;
    margin-left:7%;
    font-weight: bold;
    color:#250381;
  }
  .container .welcome{
    text-align:center;
    margin-top:10%;
    margin-right:4%;
    margin-bottom:3%;
    color:#250381;
    font-size:90px;
    font-weight: bold;
  }
  .container .input .textbox{
    color:#250381;
    font-family: 'Poppins', sans-serif;

  }
  .all .container .input ion-input{
    margin-left:14%;
    font-size:30px;
    margin-top:15px;
  }
  .container .input ion-button{
    margin-top:15%;
    margin-left:37%;
    width:40%;
    height:90px;
    border-radius:25px;
    background-color:#250381;
    color:#FFFFFF;
    font-size:65px;
  }
}
/*@media screen and (max-width:1366px){
  .logo{
    margin-top:5%;
  }
  .logo ion-img{
    height:30%;
    width:15%;
    margin-left:40%;
    margin-right:30%;
  }
  .logo ion-title{
    text-align: center;
    color:#ffffff;
    margin-right:4%;
  }
  .container h1{
    text-align:center;
    margin-top:4%;
    margin-right:4%;
    margin-bottom:3%;
    color:#250381;
    font-size:90px;

  }
  .container .input{
    margin-bottom:5%;
  }
  .container .input .label{
    margin-left:32%;
    font-size:30px;
    color:#FFDA29;
    margin-top:20px;
  }
  .container ion-input {
    width:32%;
    margin-left:32%;
    margin-top:10px;
    border-style:solid;
    border-width:2px;
    border-radius:30px;
    height:30px;
    text-indent:10px;
    background-color:#ffffff;
    color:#000000;
  }
  .container .input ion-button{
    width:10%;
    height:45px;
    margin-left:43%;
    margin-top:30px;
    border-radius:15px;
    background-color:#11013F;
    color:#FFDA29;
    font-size:25px;

  }
}

*/
