<ion-content class="body"[fullscreen]="true">
  <div class="all">
    <div class="container">
      <div class="logo">
        <ion-img src="assets\Logo.png "></ion-img>
        <ion-label>E - MOODY</ion-label>
      </div>

      <ion-label class="welcome"><h1 >WELCOME!</h1> </ion-label>
      <ion-label><h2 >Please enter your credentials below.</h2> </ion-label>
      <div class="input">
        <form method="post" action="http://localhost/EMOODY/src/app/Backend/getAcc.php" form [formGroup]="login">
        <ion-list >
          <ion-item lines="none">
            <ion-input class="textbox"placeholder="Enter your E-mail" id="email"name="email" formControlName="email"><ion-icon name="person-circle-outline" slot="start"></ion-icon></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input  class="textbox"placeholder="Confirm your password" id="password"name="password" formControlName="password" type ="password"><ion-icon name="key-outline" slot="start"></ion-icon></ion-input>
          </ion-item>
          <div class="container1">

           <ion-label class="column1">FORGOT PASSWORD?</ion-label>
           <ion-label class="column2" (click)="register()">REGISTER</ion-label>
          </div>
        </ion-list>
        <ion-button color="#11013F" name ="button1" (click)="try1(login.value)" [disabled]="login.invalid">LOGIN</ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
