ion-content{
  --ion-background-color:#250381;
  overflow:hidden;
}
ion-content{
  font-family: 'Quicksand';
}
.all {
  overflow:hidden;
  position: fixed;
  width:100%;
}
.logo{
  margin-top:5%;
}
.logo ion-img{
  height:30%;
  width:15%;
  margin-left:40%;
  margin-right:30%;
}
.logo ion-title{
  text-align: center;
  color:#ffffff;
  margin-right:4%;
  text-shadow: #000000 12px 12px;
}
.container h1{
  text-align:center;
  margin-top:4%;
  margin-right:4%;
  margin-bottom:3%;
  color:#FFDA29;
  font-size:90px;
  text-shadow: #000000 8px 8px;
}
.container .input{
  margin-bottom:5%;
}
.container .input .label{
  margin-left:31%;
  font-size:30px;
  color:#FFDA29;
  margin-top:20px;
}
.container ion-input {
  width:25%;
  margin-left:36%;
  margin-top:10px;
  border-style:solid;
  border-width:2px;
  border-radius:30px;
  height:30px;
  text-indent:10px;
  background-color:#ffffff;
  color:#000000;
  font-family: 'Reboto';
}
.container .input ion-button{
  width:10%;
  height:45px;

  border-radius:15px;
  background-color:#11013F;
  color:#FFDA29;
  font-size:25px;
  font-family: 'Quicksand';
}
@media screen and (max-width:1366px){
  .logo{
    margin-top:5%;
  }
  .logo ion-img{
    height:30%;
    width:15%;
    margin-left:40%;
    margin-right:30%;
  }
  .logo ion-title{
    text-align: center;
    color:#ffffff;
    margin-right:4%;
  }
  .container h1{
    text-align:center;
    margin-top:4%;
    margin-right:4%;
    margin-bottom:3%;
    color:#FFDA29;
    font-size:90px;
    text-shadow: #000000 8px 8px;
  }
  .container .input{
    margin-bottom:5%;
  }
  .container .input .label{
    margin-left:32%;
    font-size:30px;
    color:#FFDA29;
    margin-top:20px;
  }
  .container ion-input {
    width:32%;
    margin-left:32%;
    margin-top:10px;
    border-style:solid;
    border-width:2px;
    border-radius:30px;
    height:30px;
    text-indent:10px;
    background-color:#ffffff;
    color:#000000;
    font-family: 'Reboto';
  }
  .container .input ion-button{
    width:10%;
    height:45px;
    margin-left:43%;
    margin-top:30px;
    border-radius:15px;
    background-color:#11013F;
    color:#FFDA29;
    font-size:25px;
    font-family: 'Quicksand';
  }
}
@media screen and (max-width:1080px){
  .all{
    margin-top:10%;
  }
  .logo ion-img{
    width:50%;
    margin-left:24%;
  }
  .logo ion-title{
    font-size:45px;
    font-style:'Quicksand';
    margin-left: 2%;

  }
  .container h1{
    margin-top:10%;
    font-size:160px;
    text-shadow: #000000 12px 12px;
  }
  .container .label{
    font-family:'Quicksand';
  }
  .all .container .input ion-label{
    font-size:70px;
    margin-left:14%;
  }
  .all .container .input ion-input{
    width:70%;
    margin-left:14%;
    font-size:40px;
    margin-top:15px;
  }
  .container .input ion-button{
    margin-top:15%;
    margin-left:34%;
    width:30%;
    height:90px;
    border-radius:25px;
    background-color:#11013F;
    color:#FFDA29;
    font-size:65px;
  }
}
