ion-checkbox {
  --size: 25px;
  --background-checked: #6815ec;
}
.sc-ion-buttons-md-h {
  display: block !important;
}
ion-menu-button {
  font-size: 40px !important;
}
.menu{
  font-family:'Quicksand';
  width:100%;
  margin-top:2%;
  align-items:center;
  position:fixed;
}
.menu ion-img{
  width:2%;
}
.header{
  background-color:#FFC000;
}
ion-button{
  align-items:center;
  text-align: center;
  margin-top:2%;
  margin-left:35%;
  margin-right:40%;
  width:30%;
  height:35px;
  background-color:#250381;
  border-radius:25px;
  color:#ffffff;
}
ion-content  {
  --ion-background-color:#FFC000;
}
h1{
  text-align:center;
}
input{
  border-radius: 5px;
}
ion-label{
  font-size:20px;
}
.menu ion-item{
  margin-top:3%;
}
@media screen and (max-width:1366px){
  .menu{
    margin-bottom:50%;
    margin-top:5%;
  }
  h1{
    font-size:50px;
  }
  .menu .btn1 ion-button{
    width:10%;
    font-size:20px;
    margin-left:45%;

  }
  .menu ion-label{
    font-size:20px;
  }
}
@media screen and (max-width:1080px){
  .sc-ion-buttons-md-h {
    display: block !important;
  }
  .ion-page ion-header ion-toolbar ion-buttons ion-menu-button {
    font-size:70px !important;
  }
  .menu{
    height:100%;
    margin-top:15%;
  }
  .menu h1{
    font-size:100px;
  }
  .menu ion-img{
    margin-top:10%;
    width:5%;
  }
  .menu .btn1 ion-button{
    margin-top:10%;
    margin-left:36%;
    width:30%;
    height:70px;
    font-size:50px;
  }
  .menu ion-label{
    margin-top:10%;
    font-size:40px;
  }
  ion-checkbox {
    margin-top: 10%;
    --size: 45px;
    --background-checked: #6815ec;
  }
}

