ion-checkbox {
  --size: 32px;
  --background-checked: #6815ec;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #6815ec;
}
.menu{
  width:100%;
  margin-bottom:20%;
  position: fixed;
  margin-top:10%;
}
ion-button{
  align-items:center;
  text-align: center;
  margin-top:5%;
  margin-left:35%;
  margin-right:40%;
  width:30%;
  height:35px;
  background-color:#250381;
  border-radius:25px;
  color:#ffffff;
}
h1{
  text-align:center;
}
.menu ion-img{
  width:2%;
}
.header{
  background-color:#FFC000;
}
h3{
  text-align:center;
 height:50%;
}
ion-content  {
  --ion-background-color:#FFC000;
  font-family: 'Quicksand';
}
ion-select-option{
  width:50px;
  text-align:center;
}
::ng-deep .mycomponent-wider-popover
{
  width:90px;
  --max-width: 115px;
  text-indent:21px;
  padding: 1em 0;
}

.sc-ion-buttons-md-h {
  display: block !important;
}
ion-menu-button {
  font-size: 40px !important;
}

@media screen and (max-width:1366px){
  h1{
    font-size:50px;
  }

  .menu .btn1 ion-button{
    width:10%;
    font-size:20px;
    margin-left:45%;
  }
}
