<ion-content>
  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu Content</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">This is the menu content.</ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header class="basehead">
        <ion-toolbar style="background-color:#FFDA29">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="header"></ion-title>
        </ion-toolbar>
      </ion-header>
    </div>


    <div class="menu">
      <h1>Daily Questions</h1>
      <ion-list >
        <ion-item>
          <ion-img src="./assets/Necktie.png"></ion-img>
          <ion-label>1. I feel excited about going to work.</ion-label>
          <ion-list>
            <ion-item>
              <ion-select class="select" interface="popover" placeholder="Choose: "
              (ionChange)="val1($event)">
                <ion-select-option value="SA">Strongly Agree</ion-select-option>
                <ion-select-option value="A"> Agree</ion-select-option>
                <ion-select-option value="D"> Disagree</ion-select-option>
                <ion-select-option value="SD">Strongly Disagree</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item>
          <ion-img src="./assets/Necktie.png"></ion-img>
          <ion-label>2. I am very happy when I’m at work.</ion-label>
          <ion-list>
            <ion-item>
              <ion-select class="select" interface="popover" placeholder="Choose: "
              (ionChange)="val2($event)">
                <ion-select-option value="SA">Strongly Agree</ion-select-option>
                <ion-select-option value="A"> Agree</ion-select-option>
                <ion-select-option value="D"> Disagree</ion-select-option>
                <ion-select-option value="SD">Strongly Disagree</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item>
          <ion-img src="./assets/Necktie.png"></ion-img>
          <ion-label>3. I’m not stressed at all when I’m at work.</ion-label>
          <ion-list>
            <ion-item>
              <ion-select class="select" interface="popover" placeholder="Choose: "
              (ionChange)="val3($event)">
                <ion-select-option value="SA">Strongly Agree</ion-select-option>
                <ion-select-option value="A"> Agree</ion-select-option>
                <ion-select-option value="D"> Disagree</ion-select-option>
                <ion-select-option value="SD">Strongly Disagree</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item>
          <ion-img src="./assets/Necktie.png"></ion-img>
          <ion-label>4. I am productive today and got all the work done.</ion-label>
          <ion-list>
            <ion-item>
              <ion-select class="select" interface="popover" placeholder="Choose: "
              (ionChange)="val4($event)">
              <ion-select-option value="SA">Strongly Agree</ion-select-option>
              <ion-select-option value="A"> Agree</ion-select-option>
              <ion-select-option value="D"> Disagree</ion-select-option>
              <ion-select-option value="SD">Strongly Disagree</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item>
          <ion-img src="./assets/Necktie.png"></ion-img>
          <ion-label>5. I feel like I am accepted for who I am at work, and I’m free to be my authentic self.</ion-label>
          <ion-list>
            <ion-item>
              <ion-select class="select" interface="popover" placeholder="Choose: "
              (ionChange)="val5($event)">
              <ion-select-option value="SA">Strongly Agree</ion-select-option>
              <ion-select-option value="A"> Agree</ion-select-option>
              <ion-select-option value="D"> Disagree</ion-select-option>
              <ion-select-option value="SD">Strongly Disagree</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
        <br>

      </ion-list>
      <div class="btn1">
      <ion-button color="#250381"(click)="next()">Next</ion-button>
    </div>
    </div>

  </ion-app>
</ion-content>
